body {
  background-color: #D4D2C9;
}

img {
  display: block;
  width: 30vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
}

img.logo{
  border: 2px solid #D4D2C9;
  border-radius: 20px;
  padding: 5px;
}

.section{
  max-width: 500px;
  margin: auto;
  background: #D4D2C9;
  padding: 10px;
  align-items: center;
}

h3{
  color: #568F56;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #A3F2B9;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p.a{
  font: italic small-caps bold 15px/30px Georgia, serif;
  color: #568F56;
}

button{
  width: 100%;
  background-color: #A3F2B9;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}